#submissionForm{
    background: maroon;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    width:50%;
    height:453px;
    top: 80px;
    border: 3px solid #434343;
    border-radius: 25px;
    background-image: url(https://img.freepik.com/free-photo/watercolor-paper-texture_1194-5416.jpg?size=626&ext=jpg); 
    display: none;
}
#review{
    border: 3px solid maroon;
    font-size: 24px;
}
#review-form{
    background: whitesmoke;
    width: 100px;
    position: relative; 
    left: 425px;
    top: 125px;
    border-radius: 25px;
    border: 3px solid black;
    width: 600px;
}
#submitButton{
    position: relative;
    border-color: rgb(14, 50, 207);
    left: 250px;
    bottom: 20px;
    width: 100px;
    height: 40px;
    border-radius: 25px;
}

/* design of each review box */
.review-block-style{
    font-size: 20px;
    background-color: whitesmoke;
    border: 3px solid #434343;
    border-radius: 25px;
    height: 300px;
    min-width: 226px;
    text-align: center;
    margin: 8px;
    display: inline-block;
    box-shadow: 10px 3px 10px 3px #434343;
    position: relative;
    top: 50px;
    background-image: url(https://img.freepik.com/free-photo/watercolor-paper-texture_1194-5416.jpg?size=626&ext=jpg); 
   
      
}

.review-block-style:hover{
    transform: scale(1.1);
    background-color: lightslategray;
    color: #434343;
}

/* Reviews displayed at bottom of screen */
#reviewSection{
    position: fixed;
    top: 300px;
    height: 410px;
    width: 50%;
    margin-top: 200px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
 
}   

/* Search Bar */
.searchBar {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    z-index: 3;
   }

   .searchBar:hover > .searchText {
    width: 240px;
    padding: 0 6px;
   }

   .searchBar:hover > .searchGlass {
    background: maroon;
    color: white;
    top: 0px;
   }

   .searchGlass{
    color: maroon;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: black;
    cursor: pointer;
   }

   .searchGlass > i {
    font-size: 30px;
   }

   .searchText {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
   }

   #reviews-pos{
    position: fixed;
    top: 135px;
    left: 700px;
    width: 800px;
    overflow-x: hidden;
   }
   #course-tag{
    position: absolute;
    left: 825px;
    top: 9px;
    width: 600px;
    font-size: 32px;
    z-index: 10;
    }


/*Iphone X */
/*@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {*/
@media only screen and (min-width : 370px) and (max-width: 380px){
    #searchBar{
        position: relative;
        text-indent: 10px;
        border-radius: 25px;
        font-size: 40px;
        left: 0px;
        top: 900px;
        bottom:10px;
        width:300px;
        height: 100px;
    }
        
    /* Search Bar */
    .searchBar {
        position: absolute;
        top: 175px;
        left: 185px;
      
        transform: translate(-50%, -50%);
        background: white;
        height: 40px;
        border-radius: 40px;
        padding: 10px;
        z-index: 10;
    }

    .searchBar:hover > .searchText {
        width: 240px;
        padding: 0 6px;
    }

    .searchBar:hover > .searchGlass {
        background: maroon;
        color: white;
        position: relative;
        top: -40px;
    }

    .searchGlass{
        color: maroon;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        color: black;
        cursor: pointer;
    }

    .searchGlass > i {
        font-size: 30px;
    }

   .searchText {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
   }

    /*Box with 'Courses' */
    .titleBox{
        position: relative;
        top: 100px;
        font-size: 70px;
        left: 38px;
        border: 3px solid black;
        border-radius: 15px;
        background: whitesmoke;
        width: 800px;
        margin: 0px -30px;
    }
        
    #review-form{
        background: whitesmoke;
        width: 100px;
        position: relative; 
        left: 25px;
        top: 125px;
        border-radius: 25px;
        border: 3px solid black;
        width: 600px;
    }
    #course-tag{
        position: relative;
        left: 85px;
        top: -100px;
        width: 200px;
        font-size: 18px;
    }
    #submitButton{
        position: relative;
        border-color: rgb(14, 50, 207);
        left: 250px;
        bottom: 20px;
        width: 100px;
        height: 40px;
        border-radius: 25px;
    }
    
    /* design of each review box */
    .review-block-style{
        font-size: 12px;
        background-color: whitesmoke;
        border: 2px solid #434343;
        border-radius: 5px;
        height: 175px;
        min-width: 150px;  
        margin: 8px;
        text-align: center;
        display: inline-block;
        box-shadow: 10px 3px 10px 3px #434343;
        position: relative;
        top: 50px;
        background-image: url(https://img.freepik.com/free-photo/watercolor-paper-texture_1194-5416.jpg?size=626&ext=jpg); 
    }

    .review-block-style:hover{
        transform: scale(1.05);
        background-color: lightslategray;
        color: #434343;
    }

    /* Reviews displayed at bottom of screen */
    #reviewSection{
        position: relative; /* fixed */
        top: -100px;
        left: 0px;
        height: 250px;
        width: 375px;
        margin-top: 200px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }   
    #reviews-pos{
        position: relative;
        top: -100px;
        left: 10px;
        width: 365px;
        overflow-x: hidden;
    }   
   
}


/* Iphone 6/7/8 plus */
@media only screen and (min-width : 410px) and (max-width: 420px){
    #searchBar{
        position: relative;
        text-indent: 10px;
        border-radius: 25px;
        font-size: 40px;
        left: 0px;
        top: 900px;
        bottom:10px;
        width:300px;
        height: 100px;
    }
        
    /* Search Bar */
    .searchBar {
        position: absolute;
        top: 160px;
        left: 200px;
      
        transform: translate(-50%, -50%);
        background: white;
        height: 40px;
        border-radius: 40px;
        padding: 10px;
        z-index: 10;
    }

    .searchBar:hover > .searchText {
        width: 240px;
        padding: 0 6px;
    }

    .searchBar:hover > .searchGlass {
        background: maroon;
        color: white;
        position: relative;
        top: -40px; 
    }

    .searchGlass{
        color: maroon;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        color: black;
        cursor: pointer;
    }

    .searchGlass > i {
        font-size: 30px;
    }

   .searchText {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
   }

    /*Box with 'Courses' */
    .titleBox{
        position: relative;
        top: 100px;
        font-size: 70px;
        left: 38px;
        border: 3px solid black;
        border-radius: 15px;
        background: whitesmoke;
        width: 800px;
        margin: 0px -30px;
    }

    #review-form{
        background: whitesmoke;
        width: 100px;
        position: relative; 
        left: 25px;
        top: 125px;
        border-radius: 25px;
        border: 3px solid black;
        width: 600px;
    }
    #course-tag{
        position: relative;
        left: 100px;
        top: -125px;
        width: 200px;
        font-size: 18px;
    }
    #submitButton{
        position: relative;
        border-color: rgb(14, 50, 207);
        left: 250px;
        bottom: 20px;
        width: 100px;
        height: 40px;
        border-radius: 25px;
    }


    /* design of each review box */
    .review-block-style{
        font-size: 12px;
        background-color: whitesmoke;
        border: 2px solid #434343;
        border-radius: 5px;
        height: 175px;
        min-width: 150px;    
        margin: 8px;
        text-align: center;
        display: inline-block;
        box-shadow: 10px 3px 10px 3px #434343;
        position: relative;
        top: 50px;
        background-image: url(https://img.freepik.com/free-photo/watercolor-paper-texture_1194-5416.jpg?size=626&ext=jpg);    
    }

    .review-block-style:hover{
        transform: scale(1.05);
        background-color: lightslategray;
        color: #434343;
    }

    /* Reviews displayed at bottom of screen */
    #reviewSection{
        position: relative; /* fixed */
        top: -125px;
        left: 0px;
        height: 250px;
        width: 414px;
        margin-top: 200px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }   
    #reviews-pos{
        position: relative;
        top: -125px;
        left: 30px;
        width: 365px;
        overflow-x: hidden;
    }
  
}


/*Desktop*/
@media only screen and (min-width : 1920px){
    #reviews-pos{
        position: relative;
        top: -50px;
        left: 1000px;
        width: 800px;
        overflow-x: hidden;
    }
    #course-tag{
        position: relative;
        left: 1125px;
        top: -25px;
        width: 600px;
        font-size: 32px;
    }

}