/* For "review a course" button*/
.example_c {
    color: #981e4d !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #b2b2b2;
    padding: 5px;
   
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    border-radius: 15px;
    box-shadow: 5px 1px 5px 1px #434343;

}

.example_c:hover {
    color: #434343 !important;
    background: whitesmoke;
    border-color: #434343 !important;
    transition: all 0.4s ease 0s;
    border-radius: 50px;
    box-shadow: 5px 1px 5px 1px #434343;

}

#submissionForm{
    background: maroon;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    width:50%;
    height:453px;
    top: 60px;
    border: 3px solid #434343;
    border-radius: 25px;
    background-image: url(https://img.freepik.com/free-photo/watercolor-paper-texture_1194-5416.jpg?size=626&ext=jpg); 
    display: none;
}
#review{
    border: 3px solid maroon;
    font-size: 24px;
}
#review-form{
    background: whitesmoke;
    width: 100px;
    position: relative; 
    left: 425px;
    top: 125px;
    border-radius: 25px;
    border: 3px solid black;
    width: 600px;
}
#submitButton{
    position: relative;
    border-color: rgb(14, 50, 207);
    left: 250px;
    bottom: 20px;
    width: 100px;
    height: 40px;
    border-radius: 25px;
}

/* design of each review box */
.review-block-style{
    font-size: 20px;
    background-color: whitesmoke;
    border: 3px solid #434343;
    border-radius: 25px;
    height: 300px;
    min-width: 226px;
    text-align: center;
    margin: 8px;
    display: inline-block;
    box-shadow: 10px 3px 10px 3px #434343;
    position: relative;
    top: 50px;
    background-image: url(https://img.freepik.com/free-photo/watercolor-paper-texture_1194-5416.jpg?size=626&ext=jpg); 
   
      
}

.review-block-style:hover{
    transform: scale(1.05);
    background-color: lightslategray;
    color: #434343;

}



/* Reviews displayed at bottom of screen */
#reviewSection{
    position: fixed;
    top: 287px;
    height: 420px;
    width: 50%;
    margin-top: 200px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
 
}   

/* Search Bar */
.searchBar {
    position: absolute;
    top: 34px;
    left: 52%;
    transform: translate(-50%, -50%);
    background: white;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    z-index: 3;
   }

   .searchBar:hover > .searchText {
        width: 240px;
        padding: 0 6px;
    }

   .searchBar:hover > .searchGlass {
        background: #981e4d;
        color: white;
        top: 0px;
    }

   .searchGlass{
        color: #981e4d;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        color: black;
        cursor: pointer;
    }

   .searchGlass > i {
        font-size: 30px;
    }

   .searchText {
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: black;
        font-size: 16px;
        transition: 0.4s;
        line-height: 40px;
        width: 0px;
        font-weight: bold;
   }

   #reviews-pos{
        position: fixed;
        top: 135px; 
        left: 705px;
        height: 760px;
        width: 800px;
        overflow-x: hidden;
   }

   #reviews-on-display{
        margin-top: 30px;
        margin-bottom: 100px;
   }

 
   #course-tag{
        position: absolute;
        left: 825px;
        top: 10px;
        width: 600px;
        height: 10px;
        font-size: 32px;
        z-index: 10;
    }
    #courses-header{
        color: gold;
        font-family: Open Sans Condensed;
        font-size: 48px;
        text-align: center;
        width: 200px;
        position: relative;
        top: 350px;
        left: 275px;
    }
    #recent-revs-btn{
        position: relative; 
        left: 25px;
        width: 200px;
        top: 450px;

    }
/* welcome popup */
    .modal{
        position: fixed;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.25);
        width: 1525px;
        top: -21px;
        height: 2000px;
    }
    
    #pop-style{
        background-color: lightslategrey;
        width: 1504px;
        height: 2000px;

    }
    #popup-header{
        font-family: Open Sans Condensed;
        text-align: center;
        font-size: 32px;
        color: gold;
      
    }
    .popup-font{
        text-align: center;
        font-family: Open Sans Condensed;
        font-size: 24px;
        color: whitesmoke;
        width: 800px;
        position: relative;
        left: 352px;
    }
    #popup-btn-pos{
        position: relative;
        left: 675px;
   
    }
   
/*Iphone X */
/*@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {*/
@media only screen and (min-width : 0px) and (max-width: 380px){
    #searchBar{
        position: relative;
        text-indent: 10px;
        border-radius: 25px;
        font-size: 40px;
        left: 0px;
        top: 900px;
        bottom:10px;
        width:300px;
        height: 100px;
    }
      /* For "review a course" button*/
     
        
    /* Search Bar */
    .searchBar {
        position: absolute;
        top: 175px;
        left: 185px;
      
        transform: translate(-50%, -50%);
        background: white;
        height: 40px;
        border-radius: 40px;
        padding: 10px;
        z-index: 10;
    }

    .searchBar:hover > .searchText {
        width: 240px;
        padding: 0 6px;
    }

    .searchBar:hover > .searchGlass {
        background: #981e4d;
        color: white;
        position: relative;
        top: -45px;
    }

    .searchGlass{
        color: #981e4d;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        color: black;
        cursor: pointer;
        top: -40px;
    }

    .searchGlass > i {
        font-size: 30px;
       
    }

   .searchText {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
   }

    /*Box with 'Courses' */
    .titleBox{
        position: relative;
        top: 100px;
        font-size: 70px;
        left: 38px;
        border: 3px solid black;
        border-radius: 15px;
        background: whitesmoke;
        width: 800px;
        margin: 0px -30px;
    }
        
    #review-form{
        background: whitesmoke;
        width: 100px;
        position: relative; 
        left: 25px;
        top: 125px;
        border-radius: 25px;
        border: 3px solid black;
        width: 600px;
    }
    #course-tag{
        position: relative;
        left: 85px;
        top: -200px;
        width: 200px;
        font-size: 18px;
    }
    #submitButton{
        position: relative;
        border-color: rgb(14, 50, 207);
        left: 250px;
        bottom: 20px;
        width: 100px;
        height: 40px;
        border-radius: 25px;
    }
    
    /* design of each review box */
    .review-block-style{
        font-size: 12px;
        background-color: whitesmoke;
        border: 2px solid #434343;
        border-radius: 5px;
        height: 175px;
        min-width: 150px;  
        margin: 8px;
        text-align: center;
        display: inline-block;
        box-shadow: 10px 3px 10px 3px #434343;
        position: relative;
        top: 50px;
        background-image: url(https://img.freepik.com/free-photo/watercolor-paper-texture_1194-5416.jpg?size=626&ext=jpg); 
    }

    .review-block-style:hover{
        transform: scale(1.05);
        background-color: lightslategray;
        color: #434343;
    }

    /* Reviews displayed at bottom of screen */
    #reviewSection{
        position: relative; /* fixed */
        top: -300px;
        left: 0px;
        height: 250px;
        width: 375px;
        margin-top: 200px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }   
    #reviews-pos{
        position: relative;
        top: -100px;
        left: 10px;
        width: 365px;
        overflow-x: hidden;
    } 
    #courses-header{
        color: gold;
        font-family: Open Sans Condensed;
        font-size: 48px;
        text-align: center;
        width: 200px;
        position: relative;
        top: -75px;
        left: 80px;
    }
    #recent-revs-btn{
        position: relative;
        top: 350px;
        left: 110px;
        font-size: 12px;
        height: 75px;
        width: 150px;

    }
  
       /* welcome popup */
    .modal{
        position: fixed;
        z-index: 100;
        top: -16px;
        background-color: rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 2000px;
    }

    #pop-style{
        background-color: lightslategrey;
        width: 100%;
        height: 2000px;


    }
    #popup-header{
        font-family: Open Sans Condensed;
        text-align: center;
        font-size: 32px;
        color: gold;
        width: 200px;
        position: relative;
        left: 87.5px;
    
    }
    .popup-font{
        text-align: center;
        font-family: Open Sans Condensed;
        font-size: 24px;
        color: whitesmoke;
        width: 300px;
        position: relative;
        left: 37.5px;
        
    }
    #popup-btn-pos{
        position: relative;
        left: 125px;
        top: 0px;  
        height: 75px;
        width: 125px;
   
    }

     
   
}


/* Iphone 6/7/8 plus */
@media only screen and (min-width : 381px) and (max-width: 767px){
    #searchBar{
        position: relative;
        text-indent: 10px;
        border-radius: 25px;
        font-size: 40px;
        left: 0px;
        top: 900px;
        bottom:10px;
        width:300px;
        height: 100px;
    }
        
    /* Search Bar */
    .searchBar {
        position: absolute;
        top: 175px;
        left: 200px;
      
        transform: translate(-50%, -50%);
        background: white;
        height: 40px;
        border-radius: 40px;
        padding: 10px;
        z-index: 10;
    }

    .searchBar:hover > .searchText {
        width: 240px;
        padding: 0 6px;
    }

    .searchBar:hover > .searchGlass {
        background: #981e4d;
        color: white;
        position: relative;
        top: -40px; 
    }

    .searchGlass{
        color: #981e4d;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        color: black;
        cursor: pointer;
    }

    .searchGlass > i {
        font-size: 30px;
    }

   .searchText {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
   }

    /*Box with 'Courses' */
    .titleBox{
        position: relative;
        top: 100px;
        font-size: 70px;
        left: 38px;
        border: 3px solid black;
        border-radius: 15px;
        background: whitesmoke;
        width: 800px;
        margin: 0px -30px;
    }

    #review-form{
        background: whitesmoke;
        width: 100px;
        position: relative; 
        left: 25px;
        top: 125px;
        border-radius: 25px;
        border: 3px solid black;
        width: 600px;
    }
    #course-tag{
        position: relative;
        left: 24%;
        top: -175px;
        width: 200px;
        font-size: 18px;
    }
    #submitButton{
        position: relative;
        border-color: rgb(14, 50, 207);
        left: 250px;
        bottom: 20px;
        width: 100px;
        height: 40px;
        border-radius: 25px;
    }

    /* design of each review box */
    .review-block-style{
        font-size: 12px;
        background-color: whitesmoke;
        border: 2px solid #434343;
        border-radius: 5px;
        height: 175px;
        min-width: 150px;    
        margin: 8px;
        text-align: center;
        display: inline-block;
        box-shadow: 10px 3px 10px 3px #434343;
        position: relative;
        top: 50px;
        background-image: url(https://img.freepik.com/free-photo/watercolor-paper-texture_1194-5416.jpg?size=626&ext=jpg);    
    }

    .review-block-style:hover{
        transform: scale(1.05);
        background-color: lightslategray;
        color: #434343;
    }

    /* Reviews displayed at bottom of screen */
    #reviewSection{
        position: relative; /* fixed */
        top: -300px;
        left: 0px;
        height: 250px;
        width: 100%;
        margin-top: 200px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }   
    #reviews-pos{
        position: relative;
        top: -75px;
        left: 7%;
        width: 365px;
        overflow-x: hidden;
    }
    #courses-header{
        color: gold;
        font-family: Open Sans Condensed;
        font-size: 48px;
        text-align: center;
        width: 200px;
        position: relative;
        top: -75px;
        left: 24%;
    }
    #recent-revs-btn{
        position: relative;
        top: 370px;
        left: 30%;
        font-size: 12px;
        height: 75px;
        width: 150px;
    }
    /* welcome popup */
    .modal{
        position: fixed;
        z-index: 100;
        top: -16px;
        background-color: rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 1500px;
    }

    #pop-style{
        background-color: lightslategrey;
        width: 100%;
        height: 1500px;
    }

    #popup-header{
        font-family: Open Sans Condensed;
        text-align: center;
        font-size: 32px;
        color: gold;
        width: 200px;
        position: relative;
        left: 25%;
    }

    .popup-font{
        text-align: center;
        font-family: Open Sans Condensed;
        font-size: 24px;
        color: whitesmoke;
        width: 300px;
        position: relative;
        left: 15%;     
    }

    #popup-btn-pos{
        position: relative;
        left: 35%;
        top: 0px;  
        height: 75px;
        width: 125px; 
    }
  
}


@media only screen and (min-width : 1025px) and (max-width: 1599px){
    #reviewSection{
        min-width: 752px;
        max-width: 753px;
    }
    .searchBar {
        position: absolute;
        top: 35px;
        left: 785px;
    }
    #submissionForm{
        top: 75px;
    }
}


/*Desktop*/
@media only screen and (min-width : 1600px){
    #reviews-pos{
        position: relative;
        top: -25px;
        left: 1075px;
        width: 800px;
        overflow-x: hidden;
    }
    #course-tag{
        position: relative;
        left: 1200px;
        top: -125px;
        width: 600px;
        font-size: 32px;
        z-index: -1;
    }
    #submissionForm{
        top: -640px;
        height: 488px;
    }
    #reviewSection{
        position: absolute;
        top: 425px;
        height: 400px;
        min-width:950px;
        max-width: 951px;
        width: 50%;
        margin-top: 200px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .searchBar {
        position: fixed;
        top: 50px;
        left: 1533px;
        transform: translate(-50%, -50%);
        background: white;
        height: 45px;
        border-radius: 50px;
        padding: 10px;
        z-index: 10;
    }  
    .searchGlass{
        color: #981e4d;
        float: right;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        color: black;
        cursor: pointer;
    } 
    .searchText {

        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: black;
        font-size: 24px;
        transition: 0.4s;
        line-height: 40px;
        width: 0px;
        font-weight: bold;
    }
    #courses-header{
        color: gold;
        font-family: Open Sans Condensed;
        font-size: 48px;
        text-align: center;
        width: 200px;
        position: relative;
        top: 450px;
        left: 375px;
    }
    #recent-revs-btn{
        position: relative; 
        left: 25px;
        width: 200px;
        top: 555px;
    }
    #pop-style{
        background-color: lightslategrey;
        width: 100%;
        height: 2000px;
    }
    #popup-header{
        font-size:2rem;
    }
    #popup-btn-pos{
        left: 852px;

    }
    .popup-font{
        left: 560px;
        font-size: 1rem;
    }
    .modal{
        width: 100%;
        top:-32px;
    }
}



/*Ipad */
@media only screen and (min-width : 768px) and (max-width: 1024px){
    .searchBar {
        position: fixed;
        top: 87.5px;
        left: 1300px;
        transform: translate(-50%, -50%);
        background: white;
        height: 40px;
        border-radius: 40px;
        padding: 10px;
        z-index: 3;
    }
    #reviewSection{
        position: fixed;
        top: 1175px;
        height: 575px;
        width: 100%;
        margin-top: 200px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .review-block-style{
        font-size: 34px;
        height: 500px;
        min-width: 375px;
        top: 31px;
    }
    #reviews-pos{
        height:978px;
        top:260px;
        left: 850px;
        position: absolute;
       
    }
    #course-tag{
       font-size: 35px;
       top: 115px;
       left: 965px;
       z-index: -1;
    }
    #courses-header{
        font-size: 82px;
        top: 1075px;
        left: 620px;
    }
    #recent-btn-div{
        position: relative;
        left: 25px;
        width: 200px;
        top: 1200px;
    }
    #recent-revs-btn{
        top: 40px;
        width: 265px;
    }
    #pop-style{
        background-color: lightslategrey;
        width: 100%;
        height: 300%;
    } 
    .popup-font{
        text-align: center;
        font-family: Open Sans Condensed;
        font-size: 24px;
        color: whitesmoke;
        width: 800px;
        position: relative;
        left: 25%;
    }
    #popup-btn-pos{
        position: relative;
        left: 40%;
    }
   .modal{
       width: 100%;

       top:-43px;
   }
}