.container{
    position: relative;
    top: -495px;
    max-width: 40%; /*285*/
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
    left: 220px;
}

.container div{
    margin: 10px;
}
.container div label{
    cursor: pointer;
}
.container div label input[type = 'checkbox']{
    display:none;

}

.container div label span{
    position: relative;
    display:inline-block;
    background: #424242;
    padding: 9px 4px;
    color: white;
    text-shadow: 0 1px 4px rgba(0,0,0,.5);
    border-radius: 30px;
    font-size: 12px;
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
}
.container div label span:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255,255,255,.1);
}
.container div label span:hover{
   
    color: whitesmoke;
    background-color: goldenrod;
    
}
.container div label input[type = 'checkbox']:checked ~ span{
    background: green;
    color: whitesmoke;
}


#question-text{
    font-size: 18px;
    font-family: Open Sans Condensed;
    text-indent: 175px;
    color: black;
}
#textbook-pos{
    width: 500px;
    position: relative; 
    left: 259px; /*300*/
    top: -350px;
   
}
#recommend-pos{
    width: 500px;
    position: relative; 
    left: -150px; /*150*/
    top: -115px; /*-110*/
}
#rec-drop{
    position: relative;
    left: 495px;
    top: -47px;
}
#textbook-drop{
    position: relative;
    left: 330px;
    top: -48px;
}

.course-comp{
    width: 400px;
    height: 400px;
    background-color: whitesmoke;
    border: 3px solid #434343;
    border-radius: 25px;

}

/* For "review a course" button*/
.example_c {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    border-radius: 15px;
    box-shadow: 5px 1px 5px 1px #434343;

}

.example_c:hover {
    color: #ffffff !important;
    background: lightslategray;
    border-color: #434343 !important;
    transition: all 0.4s ease 0s;
    border-radius: 50px;
    box-shadow: 5px 1px 5px 1px #434343;

}

#rev-btn{
    width: 200px; 
    height: 75px;
    position: relative;
    left: -400px;
   
    
    display: block;
}

.exit-btn{
    position: relative;
    bottom: 935px;
    width: 10px;
    top: -590px; /*-595*/
    left: 705px; /*700*/
}

#difficulty-bar{
    height: 50px;
    position: relative;
    left: 0px; /*5*/
    top: -22.5em; /*-490*/
    bottom: 465px;
    width: 500px;
    margin-left: 241px; /*320*/
}
#difficulty-number{
    font-size: 24px;
    position: relative;
    left: 355px;
    top: -55px;
    color: black;
}
#rating-bar{
    height: 50px;
    position: relative;
    left: 0px; /*5*/ 
    top: -22.5em; /*-590*/
    bottom: 438px;
    width: 500px;
    margin-left: 241px; /*320*/
}
/* pop up */
#popup-pos{
    position: relative;
    top: 100px;
    left: 645px;
    width: 200px;
}

.small-field-pos{
    position: relative;
    border: 2px solid #434343;
    padding: 4px 5px;
    left: 10px;
    top: 50px
}

.course-review-pos{
    position: relative;
    left: 10px;
    top: 25px;
    border: 2px solid #434343;
    height: 100px;
    width: 400px;
}

#submit-pos-size{
    position: relative;
    top: -150px;
    left: 36%; /*263*/
    width: 175px;
    height: 75px;
}
#questionContainer{
    width: 0px;
    height: 0px;
}
#courseReviewTitle{
    position: relative;
    top: -420px; 
    left: 25px;
    font-size: 48px;
    font-family: Open Sans Condensed;
    text-align: center;
    color: black;
}



/*Iphone X */
/*@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {*/
@media only screen and (min-width : 370px) and (max-width: 380px){
    /* Reviews displayed at bottom of screen */
    .reviewSection{
        position: fixed; /* fixed */
        top: 1100px;
        height: 400px;
        width: 375px;
        margin-top: 200px;
    }
    #question-text{
        text-indent: 20px;
        width: 350px;
    }  
    #rec-drop{
        left: 25px;
        top: -25px;
    }
    #textbook-drop{
        left: 175px;
        top: -50px;
    }

     /*Div for the review course button */
    .buttonDIV{
        text-align: center; 
        position: relative; 
        left: 50px;
        top: 180px;
        width: 0px;
    }
    /* For "review a course" button*/
    .example_c {
        position: relative;
        top: 650px;
        font-size: 12px;
        height: 200px;
        width: 300px;
    }

    .exit-btn{
        position: relative;
        bottom: 935px;
        width: 10px;
        top: -595px;
        left: 323px;
    }

    #rev-btn{
        width: 150px; 
        height: 75px;
        position: relative;
        left: 362px;
        top: 0px;
        margin-bottom: 50px;
    }
     /* pop up */  
     #popup-pos{
        position: relative;
        top: 125px;
        left: -250px;
        width: 100%;
     }
     #popup-size{
        position: relative;
        background-color: maroon;
        top: -366px;
        left: -80px;
        height: 100px;
        width: 350px;
    
    }
     
    .small-field-pos{
        position: relative;
        border: 2px solid #434343;
        padding: 4px 5px;
        left: 85px;
        top: 50px
    }

    .course-review-pos{
        position: relative;
        left: 70px;
        top: 30px;
        border: 2px solid #434343;
        height: 125px;
        width: 200px;
    } 

    #difficulty-bar{
        height: 50px;
        position: relative;
        left: -230px;
        top: -150px;
        width: 350px;
        margin-bottom: 25px; 
    }
    #difficulty-number{
        font-size: 24px;
        position: relative;
        left: 150px;
        top: -20px;
        width: 30px;
        color: black;
    }
    #rating-bar{
        height: 50px;
        position: relative;
        width: 350px;
        left: -235px;
        top: -140px;
    }  
    #recommend-pos{
        position: relative;
        width: 350px;
        top: 350px;
        left: -5px;
    }  
    #textbook-pos{
        position: relative;
        width: 350px;
        top: 100px;
        left: -5px;
    }  
    #submit-pos-size{
        position: relative;
        top: 425px;
        left: 0px;
        width: 150px;
        height: 75px;
        font-size: 12px;

    }         
    #questionContainer{
        width: 0px;
        height: 0px;   
    }
    #courseReviewTitle{
        position: relative;
        top: -450px;
        left: -40px;
        width: 400px;
        font-size: 36px;
        font-family: Open Sans Condensed;
        text-align: center;
        color: black;
    }
    #submissionForm{
        width: 350px;
        height: 1050px; 
        positon: relative;
        top: 125px;   
    }   
 
    .container{
        position: relative;
        top: -15px;
        max-width: 300px; /*285*/
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        
        left: 25px;
    }

}


/* Iphone 6/7/8 */
@media only screen and (min-width : 410px) and (max-width: 420px){
     /*Reviews displayed at bottom of screen */
    .reviewSection{
        position: fixed; /* fixed */
        top: 1100px;
        height: 400px;
        width: 375px;
        margin-top: 200px;
    }   
    #question-text{
        text-indent: 20px;
    }  
    #rec-drop{
        left: 25px;
        top: -25px;
    }
    #textbook-drop{
        left: 175px;
        top: -50px;
    }

     /*Div for the review course button */
     .buttonDIV{
        text-align: center; 
        position: relative; 
        left: 50px;
        top: 180px;
        width: 0px;
    }
    /* For "review a course" button*/
    .example_c {
        position: relative;
        top: 650px;
        font-size: 12px;
        height: 200px;
        width: 300px;
    }

    .exit-btn{
        position: relative;
        bottom: 935px;
        width: 10px;
        top: -595px;
        left: 355px;
    }

    #rev-btn{
        width: 150px; 
        height: 75px;
        position: relative;
        left: 370px;
        top: 0px;
        margin-bottom: 50px;
    }
     /* pop up */
     #popup-pos{
        position: relative;
        top: 100px;
        left: -250px;
        width: 100%;
     }
     #popup-size{
        position: relative;
        background-color: maroon;
        top: -366px;
        left: -80px;
        height: 100px;
        width: 350px;    
    }
     
    .small-field-pos{
        position: relative;
        border: 2px solid #434343;
        padding: 4px 5px;
        left: 120px;
        top: 50px
    }

    .course-review-pos{
        position: relative;
        left: 85px;
        top: 30px;
        border: 2px solid #434343;
        height: 125px;
        width: 200px;
    }
      
    #difficulty-bar{
        height: 50px;
        position: relative;
        left: -215px;
        top: -150px;
        width: 350px;
        margin-bottom: 25px;
    }
    #difficulty-number{
        font-size: 24px;
        position: relative;
        left: 150px;
        top: -20px;
        width: 30px;
        color: black;
    }
    #rating-bar{
        height: 50px;
        position: relative;
        width: 350px;
        left: -215px;
        top: -150px;
    }
    #recommend-pos{
        position: relative;
        width: 375px;
        top: 350px;
        left: 5px;
    }
    #textbook-pos{
        position: relative;
        width: 400px;
        top: 100px;
        left: -5px;
    }
    #submit-pos-size{
        position: relative;
        top: 425px;
        left: -10px;
        width: 150px;
        height: 75px;
       font-size: 12px;
    }       
    #questionContainer{
        width: 0px;
        height: 0px;  
    }
    #courseReviewTitle{
        position: relative;
        top: -450px;
        left: -20px;
        width: 400px;
        font-size: 36px;
        font-family: Open Sans Condensed;
        text-align: center;
        color: black;
    }
    #submissionForm{
        width: 385px;
        height: 1050px;
        positon: relative;
        top: 125px;   
    }
    .container{
        position: relative;
        top: -25px;
        max-width: 300px; /*285*/
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        
        left: 15px;
    }

}


/*desktop*/
@media only screen and (min-width : 1920px){
    #popup-size{
        position: relative;
        background-color: maroon;
        top: 0px;
        left: 100px;
        height: 1000px;
        width: 750px;    
    }
    #rev-btn{
        width: 200px; 
        height: 75px;
        position: relative;
        left: -400px;
    }  
    #difficulty-bar{
        height: 50px;
        position: relative;
        left: 175px;
        margin-bottom: 25px;
        top: -125px; 
    }  
    #difficulty-number{
        font-size: 24px;
        position: relative;
        left: 355px;
        top: -58px;
        color: white;
    } 
    #rating-bar{
        height: 50px;
        position: relative;
        left: 175px;
        top: -125px;
    }
    #recommend-pos{
        position: relative;
        top: 175px;
    }
    #textbook-pos{
        position: relative;
        top: 200px;
    } 
    /* pop up */ 
    #popup-pos{
        position: relative;
        top: 100px;
        left: 645px;
        width: 200px;
    }
    
    .small-field-pos{
        position: relative;
        border: 2px solid #434343;
        padding: 4px 5px;
        left: 282px;
        top: 10px
    }
      
    #course-review-pos{
        position: relative;
        left: 172px;
        border: 2px solid #434343;
        height: 150px;
        width: 400px;
    }
    #submit-pos-size{
        position: relative;
        top: 100px;
        width: 175px;
        height: 75px;
    }
   
}