
.container{
    position: relative;
    top: -495px;
    max-width: 40%; /*285*/
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
    left: 220px;
}

.container div{
    margin: 10px;
}
.container div label{
    cursor: pointer;
}
.container div label input[type = 'checkbox']{
    display:none;

}

.container div label span{
    position: relative;
    display:inline-block;
    background: #424242;
    padding: 9px 4px;
    color: white;
    text-shadow: 0 1px 4px rgba(0,0,0,.5);
    border-radius: 30px;
    font-size: 12px;
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
}
.container div label span:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255,255,255,.1);
}
.container div label span:hover{
   
    color: whitesmoke;
    background-color: goldenrod;
    
}
.container div label input[type = 'checkbox']:checked ~ span{
    background: green;
    color: whitesmoke;
}


#question-text{
    font-size: 18px;
    font-family: Open Sans Condensed;
    text-indent: 175px;
    color: black;
}
#textbook-pos{
    width: 500px;
    position: relative; 
    left: 259px; /*300*/
    top: -350px;
   
}
#recommend-pos{
    width: 500px;
    position: relative; 
    left: -150px; /*150*/
    top: -115px; /*-110*/
}
#rec-drop{
    position: relative;
    left: 495px;
    top: -47px;
}
#textbook-drop{
    position: relative;
    left: 330px;
    top: -48px;
}

.course-comp{
    width: 400px;
    height: 400px;
    background-color: whitesmoke;
    border: 3px solid #434343;
    border-radius: 25px;

}

/* For "review a course" button*/
.example_c {
    color: #981e4d !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #b2b2b2;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    border-radius: 15px;
    box-shadow: 5px 1px 5px 1px #434343;

}

.example_c:hover {
    color: #434343 !important;
    background: whitesmoke;
    border-color: #434343 !important;
    transition: all 0.4s ease 0s;
    border-radius: 50px;
    box-shadow: 5px 1px 5px 1px #434343;

}
#rev-btn{
    width: 200px; 
    height: 75px;
    position: relative;
    left: -363px;   
    display: block;
}

.exit-btn{
    position: relative;
    bottom: 935px;
    width: 10px;
    top: -590px; /*-595*/
    left: 705px; /*700*/
}

#difficulty-bar{
    height: 50px;
    position: relative;
    left: 0px; /*5*/
    top: -22.5em; /*-490*/
    bottom: 465px;
    width: 500px;
    margin-left: 241px; /*320*/
}
#difficulty-number{
    font-size: 24px;
    position: relative;
    left: 355px;
    top: -55px;
    color: black;
}
#rating-bar{
    height: 50px;
    position: relative;
    left: 0px; /*5*/ 
    top: -22.5em; /*-590*/
    bottom: 438px;
    width: 500px;
    margin-left: 241px; /*320*/
}
/* pop up */
#popup-pos{
    position: relative;
    top: 100px;
    left: 645px;
    width: 200px;
}

.small-field-pos{
    position: relative;
    border: 2px solid #434343;
    padding: 4px 5px;
    left: 10px;
    top: 50px
}

.course-review-pos{
    position: relative;
    left: 10px;
    top: 25px;
    border: 2px solid #434343;
    height: 100px;
    width: 400px;
}

#submit-pos-size{
    position: relative;
    top: -150px;
    left: 36%; /*263*/
    width: 175px;
    background-color: lightgrey;
    height: 75px;
}
#questionContainer{
    width: 0px;
    height: 0px;
}
#courseReviewTitle{
    position: relative;
    top: -420px; 
    left: 25px;
    font-size: 48px;
    font-family: Open Sans Condensed;
    text-align: center;
    color: black;
}
#popup-header{
    text-align: center;
    font-size: 2rem;
    color: gold;
}
.popup-font{
    text-align: center;
    font-size: 1.5rem;
    color: whitesmoke;

}
#about-btn-pos{
    position: absolute;
    top: 120px;
    left: 25px;
    z-index: 1;
}



/*Iphone X */
/*@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {*/
@media only screen and (min-width : 0px) and (max-width: 380px){
    /* Reviews displayed at bottom of screen */
    .reviewSection{
        position: fixed; /* fixed */
        top: 1100px;
        height: 400px;
        width: 375px;
        margin-top: 200px;
    }
    #question-text{
        text-indent: 20px;
        width: 350px;
    }  
    #rec-drop{
        left: 25px;
        top: -25px;
    }
    #textbook-drop{
        left: 175px;
        top: -50px;
    }

     /*Div for the review course button */
    .buttonDIV{
        text-align: center; 
        position: relative; 
        left: 50px;
        top: 180px;
        width: 0px;
    }
    /* For "review a course" button*/
    .example_c {
        position: relative;
        top: 650px;
        font-size: 12px;
        height: 200px;
        width: 300px;
    }

    .exit-btn{
        position: relative;
        bottom: 935px;
        width: 10px;
        top: -595px;
        left: 323px;
    }

    #rev-btn{
        width: 150px; 
        height: 75px;
        position: relative;
        left: 360px;
        top: 50px;
        margin-bottom: 50px;
    }
     /* pop up */  
     #popup-pos{
        position: relative;
        top: 125px;
        left: -250px;
        width: 100%;
     }
     #popup-size{
        position: relative;
        background-color: maroon;
        top: -366px;
        left: -80px;
        height: 100px;
        width: 350px;
    
    }
     
    .small-field-pos{
        position: relative;
        border: 2px solid #434343;
        padding: 4px 5px;
        left: 85px;
        top: 50px
    }

    .course-review-pos{
        position: relative;
        left: 70px;
        top: 30px;
        border: 2px solid #434343;
        height: 125px;
        width: 200px;
    } 

    #difficulty-bar{
        height: 50px;
        position: relative;
        left: -230px;
        top: -150px;
        width: 350px;
        margin-bottom: 25px; 
    }
    #difficulty-number{
        font-size: 24px;
        position: relative;
        left: 150px;
        top: -20px;
        width: 30px;
        color: black;
    }
    #rating-bar{
        height: 50px;
        position: relative;
        width: 350px;
        left: -235px;
        top: -140px;
    }  
    #recommend-pos{
        position: relative;
        width: 350px;
        top: 350px;
        left: -5px;
    }  
    #textbook-pos{
        position: relative;
        width: 350px;
        top: 100px;
        left: -5px;
    }  
    #submit-pos-size{
        position: relative;
        top: 425px;
        left: 0px;
     
        width: 150px;
        height: 75px;
        font-size: 12px;

    }         
    #questionContainer{
        width: 0px;
        height: 0px;   
    }
    #courseReviewTitle{
        position: relative;
        top: -450px;
        left: -40px;
        width: 400px;
        font-size: 36px;
        font-family: Open Sans Condensed;
        text-align: center;
        color: black;
    }
    #submissionForm{
        width: 350px;
        height: 1050px; 
        position: relative;
        top: 175px;   
    }   
 
    .container{
        position: relative;
        top: -15px;
        max-width: 300px; /*285*/
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;      
        left: 25px;
    }

    #about-btn-pos{
        position: relative;
        top: -650px;
        left: 0px;
    }     
    #popup-header{
        text-align: center;
        font-size: 24px;
        color: gold;
    }
    .popup-font{
        text-align: center;
        font-size: 18px;
        color: whitesmoke;
    }

}


/* Iphone 6/7/8 */
@media only screen and (min-width : 381px) and (max-width: 767px){
     /*Reviews displayed at bottom of screen */
    .reviewSection{
        position: fixed; /* fixed */
        top: 1100px;
        height: 400px;
        width: 375px;
        margin-top: 200px;
    }   
    #question-text{
        text-indent: 20px;
    }  
    #rec-drop{
        left: 25px;
        top: -25px;
    }
    #textbook-drop{
        left: 175px;
        top: -50px;
    }

     /*Div for the review course button */
     .buttonDIV{
        text-align: center; 
        position: relative; 
        left: 50px;
        top: 180px;
        width: 0px;
    }
    /* For "review a course" button*/
    .example_c {
        position: relative;
        top: 650px;
        font-size: 12px;
        height: 200px;
        width: 300px;
    }

    .exit-btn{
        position: relative;
        bottom: 935px;
        width: 10px;
        top: -595px;
        left: 355px;
    }

    #rev-btn{
        width: 150px; 
        height: 75px;
        position: relative;
        left: 92%;
        top: 100px;
        margin-bottom: 50px;
    }
     /* pop up */
     #popup-pos{
        position: relative;
        top: 100px;
        left: -250px;
        width: 100%;
     }
     #popup-size{
        position: relative;
        background-color: maroon;
        top: -366px;
        left: -80px;
        height: 100px;
        width: 350px;    
    }
     
    .small-field-pos{
        position: relative;
        border: 2px solid #434343;
        padding: 4px 5px;
        left: 120px;
        top: 50px
    }

    .course-review-pos{
        position: relative;
        left: 85px;
        top: 30px;
        border: 2px solid #434343;
        height: 125px;
        width: 200px;
    }
      
    #difficulty-bar{
        height: 50px;
        position: relative;
        left: -215px;
        top: -150px;
        width: 350px;
        margin-bottom: 25px;
    }
    #difficulty-number{
        font-size: 24px;
        position: relative;
        left: 150px;
        top: -20px;
        width: 30px;
        color: black;
    }
    #rating-bar{
        height: 50px;
        position: relative;
        width: 350px;
        left: -215px;
        top: -150px;
    }
    #recommend-pos{
        position: relative;
        width: 375px;
        top: 350px;
        left: 5px;
    }
    #textbook-pos{
        position: relative;
        width: 400px;
        top: 100px;
        left: -5px;
    }
    #submit-pos-size{
        position: relative;
        top: 425px;
        left: 0px;
        width: 150px;
        height: 75px;
        font-size: 12px;
    }       
    #questionContainer{
        width: 0px;
        height: 0px;  
    }
    #courseReviewTitle{
        position: relative;
        top: -450px;
        left: -20px;
        width: 400px;
        font-size: 36px;
        font-family: Open Sans Condensed;
        text-align: center;
        color: black;
    }
    #submissionForm{
        width: 385px;
        height: 1050px;
        position: relative;
        top: 200px;   
        left: 0px;
    }
    .container{
        position: relative;
        top: -25px;
        max-width: 300px; /*285*/
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;    
        left: 15px;
    }
        
    #about-btn-pos{
        position: relative;
        top: -650px;
        left: 0px;
   
    }
        
    #popup-header{
        text-align: center;
        font-size: 24px;
        color: gold;
    }
    .popup-font{
        text-align: center;
        font-size: 18px;
        color: whitesmoke;

    }

}


@media only screen and (min-width : 1025px) and (max-width: 1599px){
    #submissionForm{
        min-width: 747px;
        max-width: 748px;
        top: 60px;
    }


}



/*desktop*/
@media only screen and (min-width : 1600px){
    body{
        overflow-y: hidden;
    }


    #popup-size{
        position: relative;
        background-color: maroon;
        top: 0px;
        left: 100px;
        height: 1000px;
        width: 750px;    
    }
    #submissionForm{
        width: 60%;
        max-width: 945px;
    }
    #rev-btn{
        width: 225px; 
        height: 100px;
        position: relative;
        top: -750px;
        left: -300px;
    }  
    #difficulty-bar{
        height: 50px;
        position: relative;
        left: 200px;
        margin-bottom: 25px;
        top: -510px; 
    }  
    #difficulty-number{
        font-size: 24px;
        position: relative;
        left: 355px;
        top: -54px;
        color: black;
    } 
    #rating-bar{
        height: 50px;
        position: relative;
        left: 200px;
        top: -525px;
    }
    #recommend-pos{
        position: relative;
        top: 175px;
    }
    #textbook-pos{
        position: relative;
        top: 200px;
    } 
    /* pop up */ 
    #popup-pos{
        position: relative;
        top: 100px;
        left: 645px;
        width: 200px;
    }
    
    .small-field-pos{
        position: relative;
        border: 2px solid #434343;
        padding: 4px 5px;
        left: 60px;
        top: 40px
    }
       
    #course-review-pos{
        position: relative;
        left: 172px;
        border: 2px solid #434343;
        height: 150px;
        width: 400px;
    }
    #submit-pos-size{
        position: relative;
        top: 125px;
        width: 175px;
        height: 75px;
    }
    .reviewSection{
        top: 1100px;
        height: 400px;
        min-width: 939px;
        margin-top: 200px;
        max-width: 940px;
    }
    .example_c {
        font-size: 18px;
    }
    .container{
        top: -425px;
        left: 160px;
    }
    #courseReviewTitle{
        top: -400px; 
        left: 225px;
        width: 550px;
        font-size: 48px;
    }
    .exit-btn{
        bottom: 900px;
        width: 14px;
        top: -580px; /*-595*/
        left: 900px; /*700*/
    }
    #question-text{
        font-size: 20px;
        font-family: Open Sans Condensed;
        text-indent: 175px;
        color: black;
    }
    #recommend-pos{
        width: 700px;
        position: relative; 
        left: -150px; /*150*/
        top: -115px; /*-110*/
    }
    #submit-pos-size{
        position: relative;
        top: -132px;
        left: 360px;
        width: 150px;
        height: 75px;
        font-size: 12px;

    } 
    .popup-font{
        text-align: center;
        font-size: 2.5rem;
        color: whitesmoke;

    }
    #popup-header{
        text-align: center;
        font-size: 3rem;
        color: gold;
    }

    #rec-drop {
        left: 625px;
        top: -52px;
    }
}


/*Ipad */
@media only screen and (min-width : 768px) and (max-width: 1024px){
    .example_c {
        font-size: 25px;
        padding: 30px;
    }

    #rev-btn{
        width: 225px; 
        height: 115px;
        left: -275px;
        position: relative;
        
    }
    #submissionForm{
        width: 100%;
        max-width: 748px;
        height: 900px; 
        top: 75px;  
        left: 25px; 
    }
    .course-review-pos{
        position: relative;
        left: 25px;
        top: 60px;
        border: 2px solid #434343;
        height: 188px;
        width: 503px;
        font-size: 20px;
    }   
    .small-field-pos{
        padding: 6px 10px;
        left: 25px;
        top: 70px;
        font-size: 20px;
    }
    .container{
        max-width: 75%;
        top: -181px;
        left: -75px
    }
    .container div label span {
        font-size: 18px;
    }
    #submit-pos-size{
        top: 50px;
        left: 225px;
        width: 200px;
        height: 110px;
    }
    #courseReviewTitle{
        top: -590px; 
        left: 20px;
    }
    .exit-btn{
       top:-785px;
    }
    #recommend-pos{
        width: 600px;
        left: -150px; /*150*/
        top: -88px; /*-110*/
    }
    #question-text{
        font-size: 24px;
        width: 700px;
    }
    #rec-drop {
        left: 615px;
        top: -56px;
    }
    #difficulty-bar {
        height: 50px;
        position: relative;
        left: 75px;
        top: -29em;
        bottom: 465px;
        width: 500px;
        margin-left: 241px;
    }
    #rating-bar {
        height: 50px;
        position: relative;
        left: 75px;
        top: -28.5em;
        bottom: 438px;
        width: 500px;
        margin-left: 241px;
    }
    .popup-font{
        text-align: center;
        font-size: 2.5rem;
        color: whitesmoke;

    }
    #popup-header{
        text-align: center;
        font-size: 4rem;
        color: gold;
    }
}

@media only screen and (min-width : 768px) and (max-width: 850px){
    #submissionForm{
        width: 100%;
        max-width: 753px;
        height: 900px; 
        top: 120px;   
    }
    .exit-btn{
        top:-805px;
     }

}