/* tester component css */
.review-box-style{
    font-size: 20px;
    background-color: whitesmoke;
    border: 3px solid #434343;
    border-radius: 25px;
    height: fit-content;
    width: 600px;
    text-indent: 10px;
    margin: 8px;
    display: inline-block;
    box-shadow: 10px 3px 10px 3px #434343;
    position: relative;
    left: 100px;
    margin-bottom: -200px; 
    background-image: url(https://img.freepik.com/free-photo/watercolor-paper-texture_1194-5416.jpg?size=626&ext=jpg); 
}

.review-box-style:hover{
    transform: scale(1.05); 
    z-index: 2;
    color: #434343;
    background-color: lightslategray; 
}

#review-box-name-tag{
    position: relative;
    font-size: 2rem;
  
}
#review-box-course-tag{
    position: relative;
    left: 425px; 
    top: 0px;
    font-size: 2rem;
    width: 250px;
}
#review-box-numbers{
    display: flex;
    position: relative;
    top: 20px;
}
#review-box-difficulty-tag{
    width: 400px;
    position: absolute; 
    left: 75px;
}
#review-box-diff-num-pos{
    position: relative;
    left: 95px;
}
#review-box-rating-tag{
    width: 700px;
    position: absolute;
    left: 300px;
}
#review-box-num-size{
    font-size: 4rem;
}
#review-box-rating-num-pos{
    position: relative;
    left: 250px;
}
#review-box-small-form-pos{
    position: relative;
    left: 50px;
    font-size: 1rem;
    width: 500px;
    text-indent: 0px;
}
#review-box-big-form-pos{
    position: relative;
    left: 50px;
    font-size: 1rem;
    width: 500px;
    text-indent: 0px;
}
#review-box-date-pos{
    font-size: 32px;
    color: black;
    position: relative; 
    left: 25px;
    top: 75px;
}



/*iPhone X*/
@media only screen and (min-width : 0px) and (max-width: 380px){   
    .review-box-style{
        font-size: 12px;
        background-color: whitesmoke;
        border: 2px solid #434343;
        border-radius: 15px;
        height: fit-content;
        width: 300px;
        text-indent: 10px;
        margin: 8px;
        display: block;
        box-shadow: 5px 2px 5px 2px #434343;
        position: relative;
        left: 10px;
        background-image: url(https://img.freepik.com/free-photo/watercolor-paper-texture_1194-5416.jpg?size=626&ext=jpg);      
    }

    .review-box-style:hover{
        transform: scale(1.1);    
        color: #434343;
        background-color: lightslategray;
        
    }

    #review-box-name-tag{
        position: relative;
        font-size: 1rem;
    }
    #review-box-course-tag{
        position: relative;
        left: 210px; 
        font-size: 1rem;
        width: 100px;
    } 
    #review-box-numbers{
        display: flex;
        position: relative;
        top: 20px;
    } 
    #review-box-difficulty-tag{
        width: 200px;
        position: absolute; 
        left: 15px;
    }  
    #review-box-diff-num-pos{
        position: relative;
        left: 25px;
    } 
    #review-box-rating-tag{
        width: 180px;
        position: absolute;
        left: 130px;   
    }
    #review-box-num-size{
        font-size: 2rem;
    }   
    #review-box-rating-num-pos{
        position: relative;
        left: 105px;
    }  
    #review-box-small-form-pos{
        position: relative;
        left: 20px;
        width: 250px;
        font-size: 1rem;
        text-indent: 0px;
    }   
    #review-box-big-form-pos{
        position: relative;
        left: 20px;
        font-size: 1rem;
        width: 250px;
        text-indent: 0px;  
    }
        
    #review-box-date-pos{
        font-size: 18px;
        color: black;
        position: relative; 
        width: 200px;
        left: 5px;
        top: 40px;
    }

}



/*iPhone plus. big ones.*/
@media only screen and (min-width : 381px) and (max-width: 767px){     
    .review-box-style{
        font-size: 12px;
        background-color: whitesmoke;
        border: 2px solid #434343;
        border-radius: 15px;
        height: fit-content;
        width: 300px;
        text-indent: 10px;
        margin: 8px;
        display: block;
        box-shadow: 5px 2px 5px 2px #434343;
        position: relative;
        left: 10px;
        background-image: url(https://img.freepik.com/free-photo/watercolor-paper-texture_1194-5416.jpg?size=626&ext=jpg);      
    }

    .review-box-style:hover{
        transform: scale(1.1);        
        color: #434343;
        background-color: lightslategray;      
    }

    #review-box-name-tag{
        position: relative;
        font-size: 1rem;
    }   
    #review-box-course-tag{
        position: relative;
        left: 210px;
        top: 0px; 
        font-size: 1rem;
        width: 250px;
    } 
    #review-box-numbers{
        display: flex;
        position: relative;
        top: 20px;
    }  
    #review-box-difficulty-tag{
        width: 125px;
        font-size: 12px;
        position: absolute; 
        left: 15px;
    }
    #review-box-diff-num-pos{
        position: relative;
        left: 25px;
    }  
    #review-box-rating-tag{
        width: 180px;
        font-size: 12px;
        position: absolute;
        left: 130px;
       
    } 
    #review-box-num-size{
        font-size: 2rem;
    }  
    #review-box-rating-num-pos{
        position: relative;
        left: 105px;
    }
    #review-box-small-form-pos{
        position: relative;
        left: 20px;
        width: 250px;
        font-size: 1rem;
        text-indent: 0px;
    }  
    #review-box-big-form-pos{
        position: relative;
        left: 20px;
        font-size: 1rem;
        width: 250px;
        text-indent: 0px;
    }
           
    #review-box-date-pos{
        font-size: 18px;
        color: black;
        position: relative; 
        left: 0px;
        width: 200px;
        top: 40px;
    }

}
