
.submissionForm{
    background: antiquewhite;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


#review{
    border: 3px solid maroon;
    font-size: 24px;
}


#review-form{
    background: whitesmoke;
    width: 100px;
    position: relative; 
    left: 425px;
    top: 125px;
    border-radius: 25px;
    border: 3px solid black;
    width: 600px;
}


#submitButton{
    position: relative;
    border-color: rgb(14, 50, 207);
    left: 250px;
    bottom: 20px;
    width: 100px;
    height: 40px;
    border-radius: 25px;
}


#review-block-style{
    background-color: whitesmoke;
    border: 3px solid #434343;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin-bottom: 1.5rem;
    margin-left: 22.5rem;
    text-indent: 10px;
}
#searchBar{
    position: relative;
    text-indent: 10px;
    border-radius: 25px;
    font-size: 24px;
    left: 25%;
    bottom: 50px;
    width:48%;
    height: 24px;
}
.reviewSection{
    position: relative;
    top:200px;
}








