
.submissionForm{
    background: lightskyblue;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


#review{
    border: 3px solid maroon;
    font-size: 24px;
}


#review-form{
    background: whitesmoke;
    width: 100px;
    position: relative; 
    left: 425px;
    top: 125px;
    border-radius: 25px;
    border: 3px solid black;
    width: 600px;
}


#submitButton{
    position: relative;
    border-color: rgb(14, 50, 207);
    left: 250px;
    bottom: 20px;
    width: 100px;
    height: 40px;
    border-radius: 25px;
}


#review-block-style{
    background-color: whitesmoke;
    border: 3px solid #434343;
    width: 50%;
    height: 50%;
    margin-bottom: 1.5rem;
    text-indent: 10px;
    
}
#searchBar{
    position: relative;
    text-indent: 10px;
    border-radius: 25px;
    font-size: 24px;
    left: 500px;
    top: 150px;
    bottom:10px;
    width:35%;
    height: 24px;
}
.reviewSection{
    position: fixed;
    display: inline-block;
    top: 400px;
    left: 400px;
    overflow-y: scroll;
    height: 500px;
    width: 100%;
}




/* For "review a course" button*/
.example_c {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    border-radius: 15px;

}


.example_c:hover {
    color: #ffffff !important;
    background: lightslategray;
    border-color: #434343 !important;
    transition: all 0.4s ease 0s;
    border-radius: 50px;
   
}

